body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 1rem;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  #filters {
    padding: 1rem;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  #productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
  }
  